.LoadingSpinner {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.LoadingSpinner svg {
  fill: rgb(122, 122, 122);
  animation: rotation 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
