.CustomBtn {
  position: relative;
}

.tooltip {
  content: "";
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666;
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  opacity: 0;
  z-index: -1;
  transition: all 0.25s linear;
}

.CustomBtn:hover .tooltip {
  z-index: 0;
  opacity: 1;
}

.btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

/* .btn:hover {
  filter: brightness(0.7);
} */
.btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn:disabled {
  cursor: not-allowed;
  background: #e8e8e8 !important;
  color: #7e7e7e !important;
  box-shadow: none;
  filter: grayscale(1) !important;
}
