.answer-form{
    display: flex;
    flex-direction: column;
}

.answer-form input {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
  font-size: 14px;
  padding:5px 5px;
  margin:0 1rem 1rem;
}

.answer-form .btn{
    font-size: 12px;
}

.answer-form--btn-tooltip{
    width:10rem;
    top:-3.5rem !important;
}