.burger {
  position: relative;
  width: calc(40px / 3);
  height: calc(30px / 3);
  background: transparent;
  cursor: pointer;
  display: block;
  padding:2px;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: calc(4px / 3);
  width: 100%;
  background: var(--light-black-1);
  border-radius: calc(9px / 3);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: calc(0px / 3);
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: calc(0px / 3);
  left: calc(5px / 3);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: calc(28px / 3);
  left: calc(5px / 3);
}
